@page
@using VideoCallApp.Pages
@model IndexModel
@{
    ViewData["Title"] = "Video Call";
}

<script type="module" src="~/js/firebaseConfig.js"></script>
<script type="module" src="~/js/index.js"></script>

<div class="main-con">
    <button id="createRoomBtn">Create Room</button>
    <div class="Box-join">
        <input type="text" id="roomIdInput" placeholder="Enter Room ID" />
        <button id="joinRoomBtn">Join Room</button>
    </div>
</div>
